<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="icon" type="image/png"
    href="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    .card-img-top1 {
      width: 90%;
      display: block;
      margin: 10px auto;
    }

    .par-height {
      height: 100px;
      vertical-align: middle;
    }
  </style>
</head>