<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <div class="container">
                <h1 class="">Our Agencies</h1>


                <div class="row">

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query1">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 3 a)
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query1" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query2">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 3 b)
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query2" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query3">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 4 a)
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query3" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query4">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 4 b)
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query4" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query5">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 5 a)
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query5" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query6">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 5 b)
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query6" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query7">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 6 a)
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query7" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query8">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 6 b)
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query8" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                            <div class="card m-1 p-0">
                                <a href="/query9">
                                    <img src="https://static.vecteezy.com/system/resources/previews/016/314/735/original/home-icon-free-png.png" class="card-img-top1" alt="Product 1">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title" style="height: 60px;">
                                        Ex 8
                                    </h4>
                                    <p class="card-text">
                                        email
                                    </p>
                                    <div class="d-flex justify-content-around">
                                        <a href="/query9" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>


            </div>


            <%- include('../includes/end.ejs') %>