<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <div class="container">
                <h1 class="">Our Agencies</h1>


                <div class="row">

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1 par-height">
                                Să se găsească detaliile spațiilor a căror adresă începe cu ’Dej’ ordonat după zonă
                                crescător și suprafață descrescător.
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 3 a)
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query1" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1 par-height">
                                Să se găsească detaliile ofertelor de tip ’închiriere’ cu prețul de 100 EUR sau
                                echivalentul în moneda de vânzare (RON sau USD) la cursul zilei.
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 3 b)
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query2" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1 par-height">
                                Pentru tipul de spațiu ’apartament’ să se găsească ofertele cu preț între 25000 și 40000
                                EUR.
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 4 a)
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query3" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1 par-height">
                                Să se găsească perechi de spații (id_spatiu1, id_spatiu2) de același tip cu oferte la
                                aceeași agenție. O pereche este unică în rezultat.
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 4 b)
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query4" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1 par-height">
                                Să se găsească detaliile spațiilor de tip apartament cu suprafața maximă.
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 5 a)
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query5" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1 par-height">
                                Să se găsească numele agențiilor care ofertează spații de același tip și cu același preț
                                (ținând cont de monedă) ca și prețul oferit de
                                agenția 1 (id_agentie) pentru spațiul 1 (id_spatiu).
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 5 b)
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query6" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1 par-height">
                                Să se găsească prețul mediu de vânzare per monedă pentru spațiile de tip ’garaj’.
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 6 a)
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query7" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1 par-height">
                                Să se găsească pentru fiecare zonă prețul minim și prețul maxim de închiriere
                                apartament.
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 6 b)
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query8" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 m-0 p-0">
                        <div class="card m-1 p-0">
                            <p class="card-img-top1">
                                Să se definească o procedură stocată care va introduce în tabela Excepții acele linii
                                din tabela Ofertă ce respectă condiția este
                                închiriere de apartament și prețul este mai mic decât (2 * suprafața) în moneda RON sau
                                prețul este mai mic decât (0,4 * suprafața) în
                                moneda EUR sau prețul este mai mic decât (0,41 * suprafața) în moneda USD. Tabela
                                Excepții va avea aceleași coloane ca și tabela Ofertă
                                plus o coloană ce indică natura excepției.
                            </p>
                            <div class="card-body">
                                <h4 class="card-title" style="height: 60px;">
                                    Ex 8
                                </h4>
                                <div class="d-flex justify-content-around">
                                    <a href="/query9" class="btn btn-primary">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


            <%- include('../includes/end.ejs') %>